@model PaginatedList<RentalKendaraan.Models.Gender>

@{
    ViewData["Title"] = "Index";
}

<h1>Data Jenis Kelamin/Gender</h1>

<p>
    <a asp-action="Create" type="button" class="btn btn-primary">Create New</a>

</p>
@using (Html.BeginForm("Index", "Genders", FormMethod.Get))
{
    <p>
        Jenis Kelamin: @Html.DropDownList("ktsd", "Pilih Jenis Kelamin")
        Cari Data : @Html.TextBox("searchString")

        <input type="submit" value="Filter" />
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @* @Html.DisplayName("Jenis Kelamin")*@
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["NameSortParm"]"
                   asp-route-currentFilter="@ViewData["currentFilter"]">
                    Jenis Kelamin
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NamaGender)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdGender"><i class="fas fa-edit"></i></a> |
                    <a asp-action="Details" asp-route-id="@item.IdGender"><i class="fas fa-info-circle"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.IdGender"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-outline-success @prevDisabled">
    Previous
</a>

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-success @nextDisabled">
    Next
</a>
