@model PaginatedList<RentalKendaraan.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

<h1>Data Customer</h1>

<p>
    <a asp-action="Create" type="button" class="btn btn-primary">Create New</a>
</p>
@using (Html.BeginForm("Index", "Customers", FormMethod.Get))
{
    <p>
        Nama : @Html.DropDownList("ktsd", "Pilih Nama Customer")
        Cari Data : @Html.TextBox("searchString")

        <input type="submit" value="Filter" />
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayName("Nama Customer")*@
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["NameSortParm"]"
                   asp-route-currentFilter="@ViewData["currentFilter"]">
                    Nama Customer
                </a>
            </th>
            <th>
                @*@Html.DisplayName("Jenis Kelamin")*@
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["GenderSortParm"]"
                   asp-route-currentFilter="@ViewData["currentFilter"]">
                    Jenis Kelamin
                </a>
            </th>
            <th>
                @Html.DisplayName("NIK")
            </th>
            <th>
                @Html.DisplayName("Alamat")
            </th>
            <th>
                @Html.DisplayName("No HP")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NamaCustomer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdGenderNavigation.NamaGender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nik)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Alamat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NoHp)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdCustomer"><i class="fas fa-edit"></i></a> |
                    <a asp-action="Details" asp-route-id="@item.IdCustomer"><i class="fas fa-info-circle"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.IdCustomer"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-outline-success @prevDisabled">
    Previous
</a>

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-success @nextDisabled">
    Next
</a>
